@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}



@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
  }

  h3 {
    font-size: 1.25em;
    margin-bottom: 0.75em;
  }

  h4 {
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  h5 {
    font-size: 0.9em;
    margin-bottom: 1.25em;
  }

  h6 {
    font-size: 0.8em;
    margin-bottom: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }

  ul, ol {
    margin-bottom: 1em;
    padding-left: 1.5em;
  }

  li {
    margin-bottom: 0.5em;
  }

  a {
    @apply text-blue-500 underline;
  }

  div {
    @apply mb-2;
  }
  body {
    @apply mx-4;
  }
}